{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page_title">
   <h1> The Tiny Archive </h1>
</div>
<div class="nav">
<ul>
    <li> <a href="archive/"> Archives </a></li>
    <li> <a href="exhibit/"> Exhibits </a></li>
    <li> <a href="about_us/"> About Us </a></li>
</ul>
</div>
<div class="intro">
    Welcome to the Tiny Archive! We are happy to meet you! We are small, but still growing.
</div>
<div class="Rock">
    <h1>Rock Through The Decades</h1>
</div>
<div class="svg-container">
    <img src="{% static 'An_Archive_of_Vinyl_Rock_Records.png' %}" alt="PNG Rock Records Vinyl">
</div>
{% endblock %}