{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <h3><a href="/"> Tiny Library </a></h3>
</div>
<div class="page_title">
    <h1>Exhibits</h1>
</div>
<div class="content">
    {% if exhibits %}
    <p>
        {% for exhibit in exhibits %}
            <a href="{{exhibit.id}}">{{exhibit.name}} </a> : {{exhibit.snippet}} </div>
        {% endfor %}
    </p>
    {% else %}
    <p>No exhibits yet!</p>
    {% endif %}
</div>

<div class="svg-container">
    <img src="{% static 'Rock N Roll Timeline.svg' %}" alt="SVG Rock N Roll Timeline">
</div>

{% endblock %}